body{
    padding: 0;
    margin: 0;
    background-color: white;
}

main h2{
    text-align: center;
}

header{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px black solid;
    height: 60px;
    
}

.nav1{
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
}

.nav-list{
    position: relative;
    list-style: none;
    left: -105px;
    
}

.b{
    position: relative;
    list-style: none;
    left: -35px;
    animation-name: slide;
    animation-duration: 500ms;
    animation-timing-function: linear;
}

@keyframes slide {
    0% {
        position: relative;
        left: -105px;
    }
    100% {
        position: relative;
        left: -35px;
    }
}

.c{
    position: relative;
    list-style: none;
    left: -105px;
    animation-name: slide2;
    animation-duration: 500ms;
    animation-timing-function: linear;
}

@keyframes slide2 {
    0% {
        position: relative;
        left: -35px;
    }
    100% {
        position: relative;
        left: -105px;
    }
}

.nav-item{
    margin-top: 7px;
}

.nav-item a{
    text-decoration: none;
    color: black;
}

.nav2{
    position: absolute;
    right: 10px;
}

.nav2 ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.n2{
    margin-left: 5px;
}

.toggleb{
    width: 50px;
    display: flex;
    flex-direction: column;
}

.toggleb span{
    width: 30px;
    height: 5px;
    background-color: black;
    margin: 3px;
}

.grid-container{
    position: relative;
    width: 600px;
    margin: auto;
    text-align: center;
}

.d-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    list-style: none;
}

.d-grid li{
    text-align: center;
}

.block{
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

@media (max-width: 500px) {
    .d-grid{
        display: grid;
        grid-template-columns: auto;
        list-style: none;
    }
}