.nb{
    display: flex;
}

.left-c{
    position: fixed;
    left: 40px;
    display: flex;
}

.container{
    position: relative;
    margin: auto;
}

.stuff{
    position: relative;
    left: 30%;
    width: 400px;
    background-color: rgba(0, 300, 0, 0.4);
}

.right-c{
    position: fixed;
    right: 40px;
    display: flex;
}

.block{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 300px;
    height: 300px;
}

.block li{
    border: 1px solid black;
    text-align: center;
    list-style: none;
    background-color: rgba(0, 0, 200, 0.4);
}

@media all and (max-width: 500px) {
    body{
        background-color: rgba(0, 0, 0, 0.4);
    }

    .left-c{
        position: fixed;
        left: 10px;
        display: flex;
    }
    
    .container{
        position: relative;
        margin: auto;
        width: 100vw;
        
    }
    
    .stuff{
        position: absolute;
        left: 0%;
        
    }
    
    .right-c{
        position: fixed;
        right: 10px;
        display: flex;
    }
    
    .block{
        display: grid;  
        grid-template-columns: auto auto auto;
        width: 300px;
        height: 300px;
    }
    
    .block li{
        border: 1px solid black;
        text-align: center;
        list-style: none;
        background-color: rgba(0, 0, 200, 0.4);
    }
}