*{
    box-sizing: border-box;
}



.nb{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-c{
    position: fixed;
    left: 40px;
    display: flex;
}

.container{
    position: relative;
    margin: auto;
}

.stuff{
    position: relative;
    left: 30%;
    width: 400px;
    background-color: rgba(0, 300, 0, 0.4);
}

.right-c{
    position: fixed;
    right: 40px;
    display: flex;
}

.block{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 300px;
    height: 300px;
}

.block li{
    border: 1px solid black;
    text-align: center;
    list-style: none;
    background-color: rgba(0, 0, 200, 0.4);
}

.toggleb {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}


.bar{
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10%;
}

@media all and (max-width: 500px) {
    body{
        background-color: rgba(0, 0, 0, 0.4);
    }

    .left-c{
        position: fixed;
        left: 10px;
        display: flex;
    }
    
    .container{
        position: relative;
        margin: auto;
        width: 100vw;
        
    }
    
    .stuff{
        position: absolute;
        left: 0%;
        
    }
    
    .right-c{
        position: fixed;
        right: 10px;
        display: flex;
    }
    
    .block{
        display: grid;  
        grid-template-columns: auto auto auto;
        width: 300px;
        height: 300px;
    }
    
    .block li{
        border: 1px solid black;
        text-align: center;
        list-style: none;
        background-color: rgba(0, 0, 200, 0.4);
    }
    .toggleb {
        position: absolute;
        top: .75rem;
        right: 1rem;
        
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
        

    }

   
    
    
    .bar{
        height: 3px;
        width: 100%;
        background-color: black;
        border-radius: 10%;  
        animation-name: slide;
        animation-timing-function: ease-in-out;
        animation-duration: 3s;  
    }

    @keyframes slide {
        0%{ 
            position: relative;
            background-color: black;
            right: 50px;
         }
        50%{
            position: relative; 
            background-color: red; 
            right: -40px; }
        75%{ 
            position: relative;
            background-color: rgb(255, 255, 255); 
            right: 20px; }
        100%{
            position: relative;
            background-color: white;
            right: 0px;
        }
    }

    b1{
        animation-name: sl1;
        animation-duration: 1000ms;
        animation-timing-function: ease-in-out;
    }
    b2{
        animation-name: sl2;
        animation-duration: 1500ms;
        animation-timing-function: ease-in-out;
    }
    b3{
        animation-name: sl3;
        animation-duration: 2000ms;
        animation-timing-function: ease-in-out;
    }

    @keyframes sl1 {
        0%{
            
            right: -30px;
        }
        50%{
            position: absolute;
            right: 40px;
        }
        100%{
            position: absolute;
            right: 33px;
        }
    }

    .nav-links{
        position: absolute;
        flex-direction: column;
        top: 40px;
        display: none;
    }

    .nav-links div{
        padding: 5px 0px;
        
    }

    .nav-links.active{
        position: absolute;
        flex-direction: column;
        top: 40px;
        display: flex;
    }

    
}